body{
	background-color:#f5f5f5;
}
.main{
	padding:20px;
	background-color:#f5f5f5;
}

.testimonial{
	padding:10px;
	border:none
	background-color:#f5f5f5;
	margin:0 auto;
	width:90%;
}

.text{
	text-decoration-style:normal;
}
.author{
	text-align:right;
	font-style:italic;
}

